.NavigationBar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #DED0B6;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center;
    padding: 0px; /* Optional padding */
    box-sizing: border-box; /* Ensure padding is included in total width and height */
    z-index: 1000; /* Ensure the nav bar stays on top of other content */
    border-bottom: 1px solid #74512D;
}

.NavigationBar ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping if necessary */
}

.my-name-head {
    flex-grow: 1; /* Take up remaining space */
}
.my-name-head li{
    margin-left:10px;
    padding:10px;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    margin-right: 20px; /* Adjust margin as needed */
}

.NavigationBar ul li {
    margin-right: 5px;
    border: 1px solid #DED0B6;
    border-left:0.10px solid #FDF7E4;
    border-right:0.10px solid #FDF7E4;
    list-style-type: none;
    border-radius:5px;
    white-space: nowrap; /* Prevent text from wrapping */
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .my-name-head li{
        margin-left:0px;
    }
    .NavigationBar{
        display: inline;
    }
    .NavigationBar ul{
        display: inline;
        margin:0px;
    }
    .NavigationBar ul li{
        /* border-top:0.10px solid #FDF7E4; */
        border: none;
        border-bottom:0.10px solid #FDF7E4;
        font-size:10px;
        padding:2px;
    }
}

.my-name-head li:hover,
.navbar li:hover{
    background-color: #FDF7E4;
    border: 1px solid #74512D;
    border-radius: 5px;
}

.home-two {
    margin-top: 110px; /* Adjust this value based on the height of your NavigationBar */
    display: flex;

    justify-content: center;
    align-items: center;
}

.home-two-canvas {
    border-top: 1px solid #E97777;
    border-right: 1px solid #F7418F;
    border-bottom: 1px solid #E97777;
    border-left: 1px solid #F7418F;
    width: 85%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    padding: 20px; /* Example padding */
    border-radius:15px;
    background-color: #F7DED0; /* Example background color */
    text-align: center; /* Center content */
}
.data {
    text-align: justify;
    padding: 10px;
    border: 1px solid #E97777;
    background-color: #FEECE2;
    border-radius: 15px;
    
}
.background-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.inner-home-two-canvas {
    position: relative;
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    height: 200px; /* Adjust height as needed */
    width: 200px; /* Adjust width as needed */
    background-image: url("../Jolly_pic.jpeg");
    background-size: cover; /* Ensure the image covers the container */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1.25px solid #E97777;
    margin-bottom: 20px; /* Example margin */
}

.my-name-head li:hover,
.navbar li:hover {
    background-color: #FDF7E4;
    border: 1px solid #74512D;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color:black;
}