.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  list-style: none;
}
.nav-item{
  margin: 1%;
  display:inline;
}
.nav-head{
  float: inline-start;
  background-color: burlywood;
  transition: width 3s , height 1s;
}
.nav-head:hover{
  width: 20%;
  height: 20%;
}
.nav-side{
  background-color: #96B6C5;
  float: inline-end;
}
.nav-cover{
  margin: 1%;
  background-color: #282c34;
}